.categories-title-block{
    margin: 35px 0px;
    padding: 25px;
}
.categories-title-block-black-line{
    width: 100%;
    height: 2px;
    background-color: black;
}
.categories-title-block-name{
    font-size: 2.2rem;
    font-family: Libre Baskerville, sans-serif;
    font-weight: 700;
    margin: 5px;
}
.categories-aside-content{
    width: 33%;
    height: auto;
}
.categories-aside-content-img{
    width: 100%;
    height: auto;
}
.down-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.categories-all-content{
    width: 100%;
}