*{
    box-sizing: border-box;
}
.articles-page-title{
    font-family: Libre Baskerville, sans-serif;
    font-weight: 900;
    margin-bottom: 50px;
    color: pink;
}
.categories-all-content{
    font-family: Libre Baskerville, sans-serif;
    font-weight: 900;
    margin-bottom: 50px;
}
.categories-all-content1{
    font-family: Libre Baskerville, sans-serif;
    font-weight: 900;
    margin-bottom: 50px;
    color: pink;
}