.contactChefPart{
    max-width: 1440px;
    width: 100%;
    margin: 50px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blockChehContacts{
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 1.4px;
    width: 310px;
    height: 36px;
    font-size: 24px;
    text-align: center;
    color:black;
    margin-bottom: 5px;
}
.contact-p{
    margin-top: 0px;
    color: #4b5767;
}